<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hanaiabeauty">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".detailes.DetailsClothesActivity"></activity>
        <activity android:name=".detailes.AboutActivity" />
        <activity android:name=".detailes.DetailFavActivity" />
        <activity android:name=".catograyprodect.show.HandActivity" />
        <activity android:name=".spilash.SpilashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".catograyprodect.show.PeatyActivity" />
        <activity android:name=".catograyprodect.show.Offers3Activity" />
        <activity android:name=".catograyprodect.show.Offers2Activity" />
        <activity android:name=".catograyprodect.show.Offers1Activity" />
        <activity android:name=".catograyprodect.show.ShoesActivity" />
        <activity android:name=".catograyprodect.show.MotfarkatActivity" />
        <activity android:name=".catograyprodect.show.ExecwaratActivity" />
        <activity android:name=".catograyprodect.show.ParfamActivity" />
        <activity android:name=".catograyprodect.show.ShowClotheActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDW1Zio41QEHonqO93HTNB2sVRuxC5cnFU" />

        <activity android:name=".detailes.DetailActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".sign.Sign_Up_Activity" />
        <activity android:name=".sign.LoginActivity" />
        <activity android:name=".spilash.MainActivity" />

        <service android:name=".notifecatoin.FirebaseMessageReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>